* {
    margin: 0;
    padding: 0;
}

:root {
    /* Body */
    --color-body-background: rgb(54 57 63);
    --size-body-min-width: 600px;
    --size-body-max-width: 1024px;

    --font-body-size: 1rem;
    --font-body-line-height: 1rem;
    --font-body-color: rgb(255 255 255);
    --font-body-weight: 400;
    --font-body-family: 'Jost', sans-serif;

    /* Border */

    --size-default-border: 1px;
    --style-default-border: solid;
    --color-default-border: rgb(200 225 255 / 0.30);

    /* Button */

    --size-button-border-radius: 0.375rem;
    --size-button-border: 0.75rem;
    --size-button-height: 1.25rem;
    --size-button-spacing: 1rem;
    --font-button-size: 0.875rem;
    --font-button-line-height: var(--size-button-height);
    --font-button-weight: 600;
    --font-button-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';

    --size-button-icon: 1.75rem;
    --size-button-icon-spacing: 0.75rem;
    --size-button-icon-border: calc((var(--size-button-height) - var(--size-button-icon)) * 0.5);

    --size-button-total-height: calc(var(--size-button-border) * 2 + var(--size-button-height));


    /* Button color schemes */

    --color-green: rgb(75 184 20);
    --color-green-disabled: rgb(53 96 32);
    --color-red: rgb(184 20 20);
    --color-red-disabled: rgb(96 32 32);
    --color-rose: rgb(173 132 132);
    --color-rose-selected: rgb(173 96 96);
    --color-rose-disabled: rgb(122 82 82);


    /* Header */

    --size-header-spacing-inner: 0.5rem;
    --size-header-spacing-side: 1.5rem;
    --size-header-total-height: calc(var(--size-header-spacing-inner) * 2 + var(--size-button-total-height));


    /* Other fonts */

    --font-title-size: 3rem;
    --font-title-line-height: 3rem;
    --font-title-weight: 400;

    --font-medium-title-size: 2rem;
    --font-medium-title-line-height: 2rem;
    --font-medium-title-weight: 400;

    --font-medium-size: 1.4rem;
    --font-medium-line-height: 1.4rem;
    --font-medium-weight: 400;

    /* Content */

    --size-default-spacing: 1.5rem;
    --size-content-initial-spacing-top: 6rem;

    /* Content - Loader */

    --size-loader-spacing-top: 8rem;
    --size-loader-width: 6rem;
    --size-loader-border-width: 0.6rem;
    --color-loader-background: rgb(255 255 255 / 0.2);
    --color-loader-foreground: rgb(255 255 255);

    /* Content - Welcome */

    --size-welcome-spacing: 1rem;

    /* Content - Profile */

    --size-profile-spacing: 1rem;
    --size-profile-thumbnail: 300px;

    /* Content - Stats */

    --size-stats-spacing: 1rem;

    /* Content - Notification */

    --size-notifications-notification-spacing: 0.5rem;
    --size-notifications-notification-width: 20rem;

    --scale-notifications-switch: 0.15rem;
    --color-notifications-switch-background: rgb(139 139 139);
    --color-notifications-switch-background-checked: var(--color-green);
    --color-notifications-switch: rgb(255 255 255);

    --size-notifications-border-inner: 0.75rem;
    --size-notifications-border-radius: 0.75rem;
    --color-notifications-save-bar: rgb(31 31 31 / 0.80)
}

body {
    min-height: 100%;
    max-height: 100%;
    background-color: var(--color-body-background);
    color: var(--font-body-color);
    font-size: var(--font-body-size);
    line-height: var(--font-body-line-height);
    min-width: var(--size-body-min-width);
    max-width: var(--size-body-max-width);
    font-weight: var(--font-body-weight);
    font-family: var(--font-body-family);
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
}

.header {
    padding-left: var(--size-header-spacing-side);
    padding-top: var(--size-header-spacing-inner);
    padding-right: var(--size-header-spacing-side);
    padding-bottom: var(--size-header-spacing-inner);
    border-bottom-color: var(--color-default-border);
    border-bottom-style: var(--style-default-border);
    border-bottom-width: var(--size-default-border);
    margin-left: auto;
    margin-right: auto;
    height: var(--size-button-total-height);
}

.header .left, .header .right {
    width: max-content;
    height: var(--size-button-total-height);
    padding-bottom: var(--size-button-border);
    padding-top: var(--size-button-border);
    padding-left: var(--size-button-border);
    padding-right: var(--size-button-border);
}

.header .left {
    float: left;
}

.header .right {
    float: right;
}

.header .left a {
    margin-right: var(--size-button-spacing);
    background-color: var(--color-rose);
}
.header .left a:last-child {
    margin-right: 0rem;
}

.header .right a[href] {
    background-color: var(--color-green);
    cursor: pointer;
}

.header .right a {
    background-color: var(--color-green-disabled);
    cursor: default;
}

.header .right a img {
    height: var(--size-button-icon);
    width: var(--size-button-icon);
    border-radius: 50%;
    margin-top: var(--size-button-icon-border);
    margin-bottom: var(--size-button-icon-border);
    margin-left: var(--size-button-icon-border);
    position: absolute;
}

.header a, .save .right a {
    padding-left: var(--size-button-border);
    padding-right: var(--size-button-border);
    padding-top: var(--size-button-border);
    padding-bottom: var(--size-button-border);
    align-items: center;
    text-decoration: inherit;
    font-family: var(--font-button-family);
    line-height: var(--font-button-line-height);
    height: var(--size-button-height);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    word-wrap: break-word;
    border-radius: var(--size-button-border-radius);
    color: var(--font-body-color);
}

.header a p {
    margin-left: calc(var(--size-button-icon-spacing) + var(--size-button-icon));
    display: initial;
}

.header a.disabled {
    background-color: var(--color-rose-disabled);
    cursor: default;
}

.header a.clicked {
    background-color: var(--color-rose-selected);
}

.header h1 {
    font-size: var(--font-medium-title-size);
    line-height: var(--font-medium-title-line-height);
    font-weight var(--font-medium-title-weight);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

/* Content */

.content > div {
    padding-left: var(--size-default-spacing);
    padding-right: var(--size-default-spacing);
    padding-top: var(--size-default-spacing);
    width: calc(100% - var(--size-default-spacing) * 2);
    margin-left: auto;
    margin-right: auto;
}

/* Content - Loader */

.content .loader {
    border-radius: 50%;
    width: var(--size-loader-width) !important;
    height: var(--size-loader-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: var(--size-loader-spacing-top);
    border-width: var(--size-loader-border-width);
    border-style: solid;
    border-color: var(--color-loader-background);
    border-left-color: var(--color-loader-foreground);
    animation: loading 1.4s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Content - Profile */

.content .profile {
    display: flex;

}

.content .profile .right, .content .profile .left {
    position: relative;
}

.content .profile .right {
    width: var(--size-profile-thumbnail);
}

.content .profile .left {
    width: calc(100% - var(--size-profile-thumbnail));
}


.content .profile h1 {
    font-size: var(--font-title-size);
    line-height: var(--font-title-line-height);
    font-width: var(--font-title-weight);
}

.content .profile .right img {
    width: var(--size-profile-thumbnail);
    height: var(--size-profile-thumbnail);
    border-radius: 50%;
}

.content .profile p {
    margin-bottom: var(--size-profile-spacing);
    margin-top: var(--size-profile-spacing);
}

/* Content - Stats */

.content .stats p {
    margin-bottom: var(--size-stats-spacing);
    margin-top: var(--size-stats-spacing);
}

/* Content - Notifications */

.content .notifications .switch {
    position: relative;
    display: inline-block;
    width: calc(22 * var(--scale-notifications-switch));
    height: calc(12 * var(--scale-notifications-switch));
}

.content .notifications .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.content .notifications .switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-notifications-switch-background);
    transition: .2s;
    border-radius: calc(12 * var(--scale-notifications-switch));
}

.content .notifications .switch span:before {
    position: absolute;
    content: "";
    height: calc(10 * var(--scale-notifications-switch));
    width: calc(10 * var(--scale-notifications-switch));
    left: calc(1 * var(--scale-notifications-switch));
    bottom: calc(1 * var(--scale-notifications-switch));
    background-color: var(--color-notifications-switch);
    transition: .4s;
    border-radius: 50%;
}

.content .notifications .switch input:checked + span {
    background-color: var(--color-notifications-switch-background-checked);
}

.content .notifications .switch input:checked + span:before {
    transform: translateX(calc(10 * var(--scale-notifications-switch)));
}

.content .notifications .save {
    margin-top: var(--size-content-initial-spacing-top);
    background-color: var(--color-notifications-save-bar);
    height: var(--size-button-total-height);
    padding: var(--size-notifications-border-inner);
    border-radius: var(--size-notifications-border-radius);
}

.content .notifications .save .left, .content .notifications .save .right {
    width: max-content;
    height: var(--size-button-total-height);
    padding-bottom: var(--size-button-border);
    padding-top: var(--size-button-border);
    padding-left: var(--size-button-border);
    padding-right: var(--size-button-border);
}

.content .notifications .save .left {
    float: left;
    font-family: var(--font-button-family);
    line-height: var(--font-button-line-height);
    height: var(--size-button-height);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
}

.content .notifications .save .right {
    float: right;
}

.content .notifications .save .right a {
    margin-right: var(--size-button-spacing);
}

.content .notifications .save .right a:last-child {
    margin-right: 0px;
}

.content .notifications .save_execute_enabled {
    background-color: var(--color-green);
}

.content .notifications .save_execute_disabled {
    background-color: var(--color-green-disabled);
}

.content .notifications .save_cancel_enabled {
    background-color: var(--color-red);
}

.content .notifications .save_cancel_disabled {
    background-color: var(--color-red-disabled);
}

.content .notifications .listing div {
    display: flex;
    padding-bottom: var(--size-notifications-notification-spacing);
    padding-top: var(--size-notifications-notification-spacing);
    margin-right: auto;
    width: max-content;
    border-bottom-color: var(--color-default-border);
    border-bottom-style: var(--style-default-border);
    border-bottom-width: var(--size-default-border);
}

.content .notifications .listing div:last-child {
    border-bottom: none;
}

.content .notifications .listing div p {
    width: var(--size-notifications-notification-width);
    margin-top: auto;
    margin-bottom: auto;
}

/* Content - Login Reminder */

.content .login_reminder {
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    margin-top: var(--size-content-initial-spacing-top);
    font-size: var(--font-medium-size);
    line-height: var(--font-medium-size);
    font-weight: var(--font-medium-weight);
}

.content .welcome {
    margin-top: var(--size-content-initial-spacing-top);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
}

.content .welcome .user {
    font-size: var(--font-medium-title-size);
    line-height: var(--font-medium-title-size);
    font-weight: var(--font-medium-title-weight);
    border-bottom-color: var(--color-default-border);
    border-bottom-style: var(--style-default-border);
    border-bottom-width: var(--size-default-border);
    padding-bottom: var(--size-welcome-spacing);
    margin-bottom: var(--size-welcome-spacing);
}

.content .welcome .message {
    font-size: var(--font-medium-size);
    line-height: var(--font-medium-size);
    font-weight: var(--font-medium-weight);
}
