<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Authorised</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/app.css">

</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app">
        <div class="buttons">
            <h1>
                {{ 'Authorized | Redirecting' }}
            </h1>
        </div>
        <div class="content">
            <div class="loader"></div>
        </div>
    </div>
    <script type = "text/javascript">
        var token = '{{ token }}';
        var user = '{{ user }}';

        token = unescape(token);
        user = unescape(user);

        localStorage.setItem('token', token);
        localStorage.setItem('user', user');

        window.location.href = document.location.origin;
    </script>
</body>
</html>
