<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Authorised</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/app.css">

</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app">
        <div class="header">
            <div class="middle">
                {{ 'Authorized | Redirecting' }}
            </div>
        </div>
        <div class="content">
            <div class="loader"></div>
        </div>
    </div>
    <script type = "text/javascript">
        localStorage.setItem('token', '{{ token|safe }}');
        localStorage.setItem('user', '{{ user|safe }}');
        localStorage.setItem('expires_at', '{{ expires_at|safe }}');

        window.location.href = document.location.origin;
    </script>
</body>
</html>
